@import '../../../app/styles/variables/globals.scss';

.container_main {
  position: relative;
  top: -80px;
  width: 100%;
  height: 1044px;
  overflow: hidden;
  @media(max-width: 768px) {
    height: 734px;
  }
  .container_main__bg {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  .block_flex {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    .block_flex__title {
      color: var(--color-main);
      font-family: 'Montserrat';
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 85px;
      @media(max-width: 768px) {
        display: none;
      }
    }
  }
}